<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Home :: Mini core banking app</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>


</head>
<body>
	
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Mini core banking app spring boot</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li><a href="/logout">Logout</a></li>
	    </ul>
	  </div>
	</nav>
	
	<div class="col-md-12">
 		<h3>Welcome <span sec:authentication="principal.username"></span></h3>
 		<br>
 		<div class="clearfix"></div>
      	<p><a href="/admin/customer/index">See All Customers/Accounts</a></p>
      	<p><a href="/admin/customer/add">Add New Customer/Account</a></p>
      	
      	<hr>
      	
      	<div class="col-md-4">
      	
      		<h4>To make deposit or withdrawal or transfer, Enter account number below:</h4>
      		<hr>
      		<div th:if="${param.no_data_found}">
				<div class="alert alert-danger">No data found</div>
			</div>
	      	<form th:action="@{/admin/customer}" method="get">
	      	
	      		<div class="form-group">
				    <input type="text" class="form-control" name="accountNumber" placeholder="Enter account number" required />
				</div>
	      		
	      		<button type="submit" class="btn btn-success btn-block registerbtn">Find</button>
	      		
	      	</form>
      	</div>
      	
	</div>

</body>
</html>