<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Admin | Account :: Mini core banking app</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>


</head>
<body>
	
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Mini core banking app spring boot</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li><a href="/admin/home">Menu</a></li>
	    </ul>
	  </div>
	</nav>
	
	<div class="col-md-12">
 		<h3 style="text-align: center;">Customers</h3>

	    <div class="col-md-10 col-md-offset-1">
	    
	      <table class="table table-bordered">

		     	<tr>
	                <th>Firstname</th>
	                 <td th:text="${customer.firstName}"></td>
	            </tr>
	            
	            <tr>
	                <th>Lastname</th>
	                 <td th:text="${customer.lastName}"></td>
	                
	            </tr>
	            
	            <tr>
	                <th>Email</th>
	                 <td th:text="${customer.email}"></td>
	            </tr>
	            
	            <tr>
	                <th>Account Number</th>
	                 <td th:text="${customer.accountNumber}"></td>
	            </tr>
	            
	            <tr>
	                <th>Account Balance</th>
	                 <td th:text="${customer.accountBalance}"></td>
	                
	            </tr>
	            
	            <tr>
	                <th>Account Status</th>
	                 <td th:text="${customer.accountStatus}"></td>
	                
	            </tr>
	            
		  </table>
		  
		  
	       <br/><br/>
	       <h4>Operations</h4>
	       <hr>
	       <div class="col-md-12">
			   <a class="btn btn-success" disabled href="#">Deposit</a>
			   <a class="btn btn-info" disabled href="#">Withdrawal</a>
			   <a class="btn btn-primary" th:href="@{/admin/customer/fund_transfer?sender={id}(id=${customer.accountNumber} )}">Transfer</a>
	    	   
	    	   <form th:action="@{/admin/customer/close_account}" method="post">
	    	   		<input type="hidden" name="accountNumber" th:value="${customer.accountNumber}">
	    	   		<button class="btn btn-danger">Close Account</button>
	    	   </form>
    	   </div>
    	
		</div>
	</div>

</body>
</html>